@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_HomeLayoutPage.cshtml";
}

<div class="row">
    <div class="large-12 columns">
        <br />
        <h2>About Webster Organization</h2>
        <hr />
    </div>
</div>
<br />
<div class="row">
    <div class="large-12 columns">
        <h5>
            Webster Oranization is a large enterprise in the global
            <br />
            We are looking for high quality employees, around the world
            <br />
            We are very glad to make the exam for you
            <br />
            See you soon in our company
        </h5>
    </div>
</div>
