@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_HomeLayoutPage.cshtml";
}

<div class="row">
    <div class="large-12 columns">
        <br />
        <h2>Contact Us</h2>
        <hr />
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <h5>Telephone: (84)919263088</h5>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <h5>Address: 1A Yet Kieu, Ha Noi, Viet Nam</h5>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <h5>Email: HieuLM_A05287@fpt.aptech.ac.vn</h5>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <h5>Our Members: Le Minh Hieu, Nguyen Van Dung, Nguyen Ngoc Thai</h5>
    </div>
</div>

