@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_HomeLayoutPage.cshtml";
}
<div class="row">
    <div class="large-12 columns">
        <h3>Error</h3>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        @ViewBag.Msg
    </div>
</div>

