@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<br />
<h2>Login</h2>
<hr />
<br />
@if (ViewBag.ErrorMsg != null)
{
    <h5>@ViewBag.ErrorMsg</h5>
}

@using (Html.BeginForm("Login", "Admin", FormMethod.Post, new { data_abide = "" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="large-5 columns">
            <label>User Name:</label>
            <input type="text" name="UserName" id="UserName" value="" required />
            <small class="error">User name is required</small>
        </div>
    </div>
    <div class="row">
        <div class="large-5 columns">
            <label>Password:</label>
            <input type="password" name="Password" id="Password" value="" required />
            <small class="error">Password is required</small>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <input type="checkbox" name="RememberMe" id="RememberMe" value="true" /><label for="RememberMe">Remember me?</label>
            <input type="hidden" name="RememberMe" id="RememberMe" value="false" />
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <input type="submit" value="Log in" class="small button" />
        </div>
    </div>
}

